*{
    box-sizing: border-box;
    padding: 0;
}
body{
    
}
.first{
    background-image: url(galaxy.webp);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 30%;
    width:30%;
    min-width: 200px;
}
h1{
    text-decoration: none;
    color:blue;
    font-family: sans-serif;
    font-weight: 600;
}